@each $key, $value in $size{
    .lh-#{$key}{
        line-height: $value;
    }
    .fz-#{$key}{
        font-size: $value;
    }
}

.lh{
    &-33{
        line-height: 33px;
    }
}

// color
@each $key, $value in $grays{
    .text-grays-#{$key}{
        color: $value;
    }
    .border-grays-#{$key}{
        border-color: $value;
    }
}

// space
@each $key, $value in $space_size{
    .p{
        &-#{$key}{
        padding: $value;
        }
        &l-#{$key}{
        padding-left: $value;
        }
        &r-#{$key}{
        padding-right: $value;
        }
        &t-#{$key}{
        padding-top: $value;
        }
        &b-#{$key}{
        padding-bottom: $value;
        }
    }

    .m{
        &-#{$key}{
        margin: $value;
        }
        &l-#{$key}{
        margin-left: $value;
        }
        &r-#{$key}{
        margin-right: $value;
        }
        &t-#{$key}{
        margin-top: $value;
        }
        &b-#{$key}{
        margin-bottom: $value;
        }
    }
}

.active{
    background-color: $gray-100!important;
}