.thumbnail{
    width: 40px;
    height: 40px;
}

.my-account{
    &_info{
        &__email{
            font-size: 14px;
            line-height: 24px;
        }
    }
}

.aside--active{
    border-left: 4px solid #198754;
    padding-left: 20px!important;
    a{
        color: #198754!important;
    }
}